footer{
    background-color: #212529;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}
.footer{
    color: #6c757d
    
    
}
.main{
    
    margin-top: 65px;  
    align-self: center;
    justify-content: center;
    flex: 1 1 auto;
}

@media  screen and (max-width:1400px) {
    .main{
        width: 100%;
    }
  }
  @media  screen and (min-width:1401px) {
    .main{
        width: 1400px;
    }
  }
/*main{
   min-height: 100vh;
  
}*/

