.item-category {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 139px;
}

.description-all-dots {
    width: 100%;
    height: 40px;
    position: absolute;
    display: flex;
    top: 104%;
    justify-content: center;
    z-index: 200;
}

.description-slider-container {
    height: 400px;
    width: 500px;
    position: relative;
    margin-left: 0px;
    flex-shrink: 0;
}
.item-description-content {
    display: flex;
    margin-top: 30px;
}

.desc-dot {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.desc-active-dot,
.desc-dot:hover {
    background-color: rgba(0, 0, 0, 0.568);
}

.item-description {
    flex-grow: 1;
    padding-left: 25px;
}
.item-price {
    margin-top: 5px;
    color: #6c757d;
}
.item-description button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 35px 10px 35px;
    margin-top: 20px;
    cursor: pointer;
}

.item-description button:hover {
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
}
.details {
    margin-top: 20px;
    border-bottom: 1px solid rgb(211, 194, 194);
    padding-bottom: 13px;
}



.details-description {
    width: 100%;
}

.item-properties-buttons {
    display: flex;
    list-style: none;
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item-properties-buttons li {
    border: 1px solid rgb(211, 194, 194);
    border-radius: 3px;
    padding: 13px;
    margin-left: 13px;
    cursor: pointer;
    margin-bottom: 10px;
}
.item-properties-buttons li:hover {
    color: yellow;
    border: none;
}

.item-properties-buttons li.active {
    border: 1px solid orange;
    color: orange;
}
.outlet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 53px;
  padding-top: 15px;
 
}



.item-properties-tab {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: azure;
    padding-top: 15px;
    border-radius: 4px;
}
.properties-content {
  width:480px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.properties-name {
    list-style: none;
    margin-top: 5px;
}
.properties-name li {
    margin-top: 9px;
    word-wrap: break-word;
}

.item-description-properties{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-description-properties h3, p{
    margin-top: 15px;
}
.item-description-properties p{
    font-weight: normal;
}


@media screen and (max-width: 872px) {
    .item-description-content {
        flex-wrap: wrap;
    }
    .item-description {
        padding-top: 50px;
    }
}
@media screen and (max-width: 636px) {
    .item-description-content {
        display: flex;
        flex-direction: row;
    }
    .description-slider-container {
        flex-shrink: 1;
    }
}
