.item-properties-buttons{
    display: flex;
    list-style:none;
  }
  .item-properties-buttons li{
   border:1px solid rgb(211, 194, 194);
   border-radius: 3px;
   padding: 13px;
   margin-left: 13px;
   cursor: pointer;
   
 }
 .item-properties-buttons li:hover{
   color: yellow;
   border: none;
 }
 
 .item-properties-buttons li.active{
   border:1px solid orange;
   color:orange;
 }
 .outlet{
   margin-left: 53px;
   padding-top: 15px;
 }
 
  .item-properties-tab{
    margin-left:60px;
    margin-right:60px;
  }
 