.order-properties-tab {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-radius: 4px;
    
}

order-properties-buttons {
    display: flex;
    list-style: none;
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.order-properties-buttons li {
    border: 1px solid rgb(211, 194, 194);
    border-radius: 3px;
    padding: 13px;
    margin-left: 13px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block
}
.order-properties-buttons li:hover {
    color: yellow;
    border: none;
}

.order-properties-buttons li.active {
    border: 1px solid orange;
    color: orange;
}
.order-outlet {
    
    margin-left: 53px;
 
}
.active-order-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.active-order-content div{
    padding-right: 20px;
}
.active-order-content button{
    border: 1px solid gainsboro ;
    background-color: gainsboro;
    color:black;
    cursor: pointer;
    border-radius: 3px;
}
.active-order-content button:hover{
    border:1px solid black;
    background-color: black;
    color: white;
    
}

.detail-order-content{
    margin-top: 10px;
}
.active-order{
    padding: 10px;
    border:1px solid rgb(211, 194, 194);
    margin-top: 10px;

}